.person {
  margin: 20px;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 0 2px #ccc;
  display: inline-block;
  width: 1250px;
}
.person_name {
  text-align: center;
  color: green;
}
.person_data {
  font-weight: bold;
}
