.persons {
  margin: 20px;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 0 2px #ccc;
  width: 250px;
  display: inline-block;
}
.persons_name {
  text-align: center;
  color: green;
}
.persons_data {
  font-weight: bold;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  font-weight: bold;
  margin: 5px;
  color: #944317;
  box-shadow: 0 0 1px #ccc;
}
